.styled-button {
  background: #007bff;
  color: white;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px; 
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.styled-button:hover {
  background: #0056b3; 
  transform: scale(1.05); 
}

.styled-button:active {
  background: #004085;
  transform: scale(1);
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
  
}

/* Modal Content */
.modal-content {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  position: relative;
  text-align: center;
  animation: fadeIn 0.3s ease-in-out;
}


.close {
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
  font-size: 1.5rem;
  color: #888;
  transition: color 0.3s ease;
}

.close:hover {
  color: #000;
}

form label {
  display: block;
  margin: 15px 0;
  font-size: 14px;
  color: #333;
  text-align: left;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
  font-family: inherit;
}

form textarea {
  resize: none;
  height: 80px;
}

.form-button {
  background: #2575fc;
  color: white;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 15px;
  transition: all 0.3s ease;
}

.form-button:hover {
  background: #6a11cb;
  transform: scale(1.05);
}
